:root {
    --color-bg: #69f7be;
    --color-text-main: #000000;
    --color-primary: #ffff00;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana;
    line-height: 1.5rem;
  }
  
  iframe {
    min-height: max(30vh, 200px);
    min-width: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
  }
  
  .wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    place-items: center;
    margin: 0 1rem;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  